{% extends 'fragments/_base.html' %}

{% block header %}
<h2>
    {% block title %}
    Login
    {% endblock title %}
</h2>
{% endblock header %}

{% block content %}

<div class="container">

    <div class="form-container">
        <fieldset class="fieldset">
            <form action="{{ url_for('iws.api.v1.accounts.login_view') }}" method="post">
                <div class="img-container">
                    <!-- <span onclick="document.getElementById('frmLogin').style.display='none'" class="close"
                    title="Close Modal">&times;</span> -->
                    <img src="{{ url_for('static', filename='images/profile-avatar.png') }}" alt="Avatar"
                        class="avatar">
                </div>

                <!-- <div class="container"> -->
                <label class="label-bold" for="username">Username <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="email" placeholder="Enter Username" name="username" required />

                <label class="label-bold" for="password">Password <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="password" placeholder="Enter Password" name="password" required />

                <!-- submit-button -->
                <button type="submit">Login</button>

                <label class="padding-check-box">
                    <input type="checkbox" checked="checked" name="remember" /> Remember me
                </label>
                <!-- </div> -->

                <!-- button-panel -->
                <div class="container button-panel">
                    <!-- <button type="button" onclick="document.getElementById('frmLogin').style.display='none'"
                    class="cancel-button">Cancel</button> -->
                    <span class="password"><a href="{{ url_for('iws.api.v1.accounts.forgot_password') }}">Forgot
                            Password?</a></span>
                    <span><a href="{{ url_for('iws.api.v1.accounts.register_view') }}">Register</a></span>
                </div>
            </form>
        </fieldset>
    </div>

</div>


{% endblock content %}
