{% extends 'fragments/_base.html' %}

{% block header %}
<h2>
    {% block title %}
    Register
    {% endblock title %}
</h2>
{% endblock header %}

{% block content %}

<div class="container">

    <div class="form-container">
        <fieldset class="fieldset">
            <form action="{{ url_for('iws.api.v1.accounts.register_view') }}" method="post">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='images/profile-avatar.png') }}" alt="Avatar"
                        class="avatar">
                </div>

                <!-- <div class="container"> -->
                <label class="label-bold" for="username">Username <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="email" placeholder="Enter Username" name="username" required />

                <label class="label-bold" for="password">Password <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="password" placeholder="Enter Password" name="password" required />

                <label class="label-bold" for="firstName">First Name <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="text" placeholder="Enter First Name" name="firstName" required />

                <label class="label-bold" for="lastName">Last Name <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="text" placeholder="Enter Last Name" name="lastName" required />

                <label class="label-bold" for="email">Email <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="email" placeholder="Email" name="email" required />

                <!-- submit-button -->
                <button type="submit">Register</button>

                <label class="padding-check-box">
                    <input type="checkbox" checked="checked" name="termAndConditions" /> Terms & Condition
                </label>
                <!-- </div> -->

                <!-- button-panel -->
                <div class="container button-panel">
                    <span class="password"><a href="{{ url_for('iws.api.v1.accounts.forgot_password') }}">Forgot
                            Password?</a></span>
                    <span><a href="{{ url_for('iws.api.v1.accounts.login_view') }}">Login</a></span>
                </div>
            </form>
        </fieldset>
    </div>

</div>

{% endblock content %}
