<!-- Fixed/Top Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img style="width: 28px;" src="{{ url_for('static', path='images/webapp-logo.png') }}" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/posts/">Posts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/comments/">Comments</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="/blogs/">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/accounts/login">Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/notifications">Notifications</a></li>
            <li><a href="/accounts/profile">Manage Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/admin/">Admin</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Sidebar -->
<div id="sideNavBarDiv" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSideNavbar();">&times;</a>
  <a href="/about-us">About</a>
  <a href="/services">Services</a>
  <a href="/clients">Clients</a>
  <a href="/contact-us">Contact</a>
</div>
