<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- start::navbar-collapse -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('iws.api.v1.admin.register') }}">Register</a></li>
        <li><a href="{{ url_for('iws.api.v1.admin.login') }}">Login</a></li>
        <li><a href="{{ url_for('iws.api.v1.admin.forgot_password') }}">Forgot Password</a></li>
        <li><a href="{{ url_for('iws.api.v1.admin.profile') }}">Profile</a></li>
      </ul>
    </div><!-- end::navbar-collapse -->
  </div>
</nav>