<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- start::navbar-collapse -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/admin/register">Register</a></li>
        <li><a href="/admin/login">Login</a></li>
        <li><a href="/admin/forgot-password">Forgot Password</a></li>
        <li><a href="/admin/profile">Profile</a></li>
      </ul>
    </div><!-- end::navbar-collapse -->
  </div>
</nav>