{% extends 'fragments/_base.html' %}

{% block header %}
<h2>
    {% block title %}
    Forgot Password
    {% endblock title %}
</h2>
{% endblock header %}

{% block content %}
{% include("admin/_navbar.html") %}

<br>

<div class="container">
    <fieldset class="fieldset">
        <form class="animate" action="{{ url_for('iws.api.v1.accounts.forgot_password') }}" method="post">
            <div class="container">
                <label for="email"><b>Username</b></label>
                <input type="email" placeholder="Enter Username" name="email" required />

                <button type="submit">Forgot Password</button>
            </div>

            <div class="container button-panel">
                <span class="password"><a href="{{ url_for('iws.api.v1.accounts.register') }}">Register</a></span>
                <span><a href="{{ url_for('iws.api.v1.accounts.login') }}">Login</a></span>
            </div>
        </form>
    </fieldset>
</div>


<br>

{% endblock content %}