{% extends 'fragments/_base.html' %}

{% block header %}
<h2>
    {% block title %}
    Forgot Password
    {% endblock title %}
</h2>
{% endblock header %}

{% block content %}

<div class="container">

    <div class="form-container">
        <fieldset class="fieldset">
            <form action="{{ url_for('iws.api.v1.accounts.forgot_password') }}" method="post">
                <!-- <div class="container"> -->
                <label class="label-bold" for="email">Email <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="email" placeholder="Enter Email" name="email" required />

                <!-- submit-button -->
                <button type="submit">Forgot Password</button>
                <!-- </div> -->

                <!-- button-panel -->
                <div class="container button-panel">
                    <span class="password"><a href="{{ url_for('iws.api.v1.accounts.register_view') }}">Register</a></span>
                    <span><a href="{{ url_for('iws.api.v1.accounts.login_view') }}">Login</a></span>
                </div>
            </form>

        </fieldset>
    </div>

</div>


{% endblock content %}
