{% extends 'fragments/_base.html' %}

{% block header %}
<h2>
    {% block title %}
    Register
    {% endblock title %}
</h2>
{% endblock header %}

{% block content %}

<div class="container">

    <div class="form-container">
        <fieldset class="fieldset">
            <form action="/accounts/register" method="post">
                <div class="img-container">
                    <img src="{{ url_for('static', path='images/profile-avatar.png') }}" alt="Avatar" class="avatar">
                </div>

                <!-- <div class="container"> -->
                <label class="label-bold" for="user_name">Email <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="email" placeholder="Enter Email" name="user_name" required />

                <label class="label-bold" for="password">Password <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="password" placeholder="Enter Password" name="password" required />

                <label class="label-bold" for="first_name">First Name <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="text" placeholder="Enter First Name" name="first_name" required />

                <label class="label-bold" for="last_name">Last Name <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="text" placeholder="Enter Last Name" name="last_name" required />

                <label class="label-bold" for="email">Email <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="email" placeholder="Email" name="email" required />

                <label class="label-bold" for="birth_date">Birth Date <span class="label-required-star"
                        aria-hidden="true">*</span></label>
                <input type="date" name="birth_date" required />

                <!-- submit-button -->
                <button type="submit">Register</button>

                <label class="padding-check-box">
                    <input type="checkbox" checked="checked" name="termAndConditions" /> Terms & Condition
                </label>
                <!-- </div> -->

                <!-- button-panel -->
                <div class="container button-panel">
                    <span class="password"><a href="/accounts/forgot-password">Forgot
                            Password?</a></span>
                    <span><a href="/accounts/login">Login</a></span>
                </div>
            </form>
        </fieldset>
    </div>

</div>

{% endblock content %}